@use "../typography";
@use "../color";

.initiative-button {
  // Public
  --initiative-button-fill-color: transparent;
  --initiative-button-stroke-color: #{color.role("on-surface")};
  --initiative-button-density: 0;

  // Private
  --initiative-button-state-layer-opacity: 0%;
  &:not([disabled]):is(:focus-visible, :hover) {
    --initiative-button-state-layer-opacity: 8%;
  }
  &:not([disabled]):active {
    --initiative-button-state-layer-opacity: 12%;
  }

  min-width: calc(64px + var(--initiative-button-density) * 4px);
  height: calc(32px + var(--initiative-button-density) * 4px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  border-radius: 4px;
  background-color: color-mix(
    in srgb,
    var(--initiative-button-fill-color),
    var(--initiative-button-stroke-color)
      var(--initiative-button-state-layer-opacity)
  );
  color: var(--initiative-button-stroke-color);
  user-select: none;

  // Reset browser defaults
  padding: 0 calc(12px + var(--initiative-button-density) * 2px);
  border: none;
  outline: none;

  &:is([disabled]) {
    opacity: 0.38;
  }

  &__label {
    grid-area: main;
    @include typography.role("label-large");
    @include typography.no-wrap();
  }

  &__icon {
    &--start {
      margin-inline: -4px 4px;
      --initiative-material-icon-density: -2;
    }
    &--end {
      margin-inline: 4px -4px;
      --initiative-material-icon-density: -2;
    }
  }
}
