@use "../color";
@use "../typography";

.initiative-form-control {
  display: grid;
  grid-template-columns:
    [adornment-start header-start input-start]
    auto
    [adornment-end]
    1fr
    [clear-start]
    auto
    [clear-end adornment-end header-end input-end];
  grid-template-rows:
    [header-start]
    20px
    [adornment-start clear-start header-end input-start]
    28px
    [adornment-end clear-end input-end];
  gap: 4px;
  align-items: center;
  color: color.role("on-surface");

  &--dense {
    grid-template-columns:
      [header-start]
      40px
      [ adornment-start header-end input-start]
      auto
      [adornment-end]
      1fr
      [clear-start]
      auto
      [clear-end input-end];
    grid-template-rows:
      [adornment-start clear-start header-start input-start]
      28px
      [adornment-end clear-end header-end input-end];
  }

  &__header {
    grid-area: header;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &:not(&--dense) > &__header {
    padding-left: 8px;
  }

  &__label {
    @include typography.role("body-medium");
    @include typography.no-wrap();
  }

  &__help-icon {
    --initiative-material-icon-density: -2;
    cursor: help;

    &--error {
      color: color.role("error");
    }
  }

  &__adornment-icon {
    grid-area: adornment;
    margin-left: 8px;
    --initiative-material-icon-density: -2;
    pointer-events: none;
  }

  &__input {
    grid-area: input;
    height: 28px;
    border: 1px solid color.role("divider");
    padding: 0 27px;
    border-radius: 4px;
    background-color: color.role("surface");
    color: color.role("on-surface");
    @include typography.role("body-large");

    &:hover,
    &:focus-visible {
      background-color: color-mix(
        in srgb,
        color.role("surface"),
        color.role("on-surface") 12%
      );
    }

    &--text-field,
    &--number-field,
    &--select {
      // reset browser defaults
      outline: none;
      appearance: none;
    }

    &--select#{&}--no-value {
      color: color.role("on-surface-deemphasized");
      font-style: italic;
    }

    &--checkbox,
    &--button {
      // reset browser defaults
      outline: none;

      @include typography.no-wrap();
      text-align: start;
    }
  }
  &--error > &__input {
    border-color: color.role("error");
  }

  &__clear-button {
    grid-area: clear;
    margin-right: 2px;
  }
}
