@use "../../../design-system/color";

.kragle-license-key-dialog {
  width: 600px;

  &__container {
    padding: 16px;
    border-radius: 8px;

    &--selected {
      background-color: color.role("brand-container");
      color: color.role("on-brand-container");
    }

    &--expired {
      background-color: color.role("error-container");
      color: color.role("on-error-container");
    }
  }

  &__container-title {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;
  }

  &__divider {
    margin: 16px 0;
    border: 0;
    border-top: 1px solid color.role("divider");
  }

  &__license-properties {
    margin-top: 8px;
    padding-inline: 8px;
    color: color.role("on-surface-deemphasized");
  }

  &__save-button {
    --kragle-button-fill-color: #{color.role("brand")};
    --kragle-button-stroke-color: #{color.role("on-brand")};
  }
}
