.collection-input-row {
  margin: 4px 0;
  display: grid;
  grid:
    "name value" 20px
    "type value" auto
    / 1fr 1fr;
  gap: 4px 8px;

  &__connector {
    position: absolute;
    top: 12px;
    left: -172px;
    width: 12px;
    height: 16px;
    border: 1px solid rgb(0 0 0 / 12%);
    background-color: limegreen;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  &__name {
    grid-area: name;
    align-self: end;
    font-size: 14px;

    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__type {
    grid-area: type;
    align-self: start;
    font-size: 10px;
    color: rgb(0 0 0 / 0.6);

    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__value-group {
    grid-area: value;
    align-self: center;
    min-width: 0;
    height: 24px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 0.12);
    border-radius: 4px;
  }

  &__select {
    min-width: 0;
    height: 100%;
    border: none;
    flex: 1 0 0;
    font-style: italic;
    background-color: transparent;
  }

  /** new stylings */
  &__values {
    grid-area: value;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__value {
    position: relative;
    display: grid;
    grid:
      "child-id" 16px
      "value-group" 24px
      / 1fr;
  }
  &__child-id {
    grid-area: child-id;
    height: 16px;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgb(0 0 0 / 0.6);
  }
  &__value-group {
    grid-area: value-group;
  }
}
