@use "collection-input-row";
@use "input-row";
@use "node-box";
@use "output-row";

.bindings-editor {
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 8px;
  overflow: auto;
}
