@use "collection-input-row";
@use "input-row";
@use "node-box";
@use "output-row";

.bindings-editor {
  height: 100%;
  display: grid;
  place-items: center;
  padding: 8px;
  overflow: auto;
  box-shadow: 0 0 12px -4px inset;

  &__container {
    position: relative;
  }

  &__connection-lines {
    position: absolute;
  }
  &__connection-line {
    stroke: lightskyblue;
    stroke-width: 4px;
    stroke-linecap: round;
  }
  &__child-line {
    stroke: #555;
    stroke-width: 4px;
    stroke-dasharray: 16px 8px;
  }
}
