@use "collection-input-row";
@use "input-row";
@use "node-bindings-canvas";
@use "node-box";
@use "output-row";

.bindings-editor {
  height: 100%;
  display: grid;
  grid:
    "canvas" 1fr
    "controls" auto
    / 1fr;
  gap: 8px;
  place-items: stretch;

  &__canvas-shadow {
    z-index: 0;
    grid-area: canvas;
    box-shadow: 0 0 12px -4px inset;
    pointer-events: none;
  }

  &__zoom-control {
    place-self: center end;
  }
}
