.input-row {
  position: relative;
  height: 40px;
  margin: 4px 0;
  display: grid;
  grid:
    "name value" 1fr
    "type value" 1fr
    / 1fr 1fr;
  gap: 4px 8px;

  &__connector {
    position: absolute;
    top: 12px;
    left: -24px;
    width: 12px;
    height: 16px;
    border: 1px solid rgb(0 0 0 / 12%);
    background-color: limegreen;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  &__name {
    grid-area: name;
    align-self: end;
    font-size: 14px;
  }

  &__type {
    grid-area: type;
    align-self: start;
    font-size: 10px;
    color: rgb(0 0 0 / 0.6);
    white-space: nowrap;
  }

  &__value-group {
    grid-area: value;
    align-self: center;
    min-width: 0;
    height: 24px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 0.12);
    border-radius: 4px;
  }

  &__select {
    min-width: 0;
    height: 100%;
    border: none;
    flex: 1 0 0;
    font-style: italic;
    background-color: transparent;
  }

  &__textfield {
    min-width: 0;
    border: none;
    flex: 1 0 0;
  }

  &__unbind {
    height: 100%;
    border: none;
    border-left: 1px solid rgb(0 0 0 / 0.12);
    background-color: transparent;
  }
}
