.node-box {
  box-sizing: border-box;
  position: absolute;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 12%);
  border-radius: 8px;
  background-color: #fff;

  &__header {
    margin: 4px 0;
    display: grid;
    grid:
      "id" 24px
      "type" 16px
      / 1fr;
    align-items: center;
  }

  &__id {
    grid-area: id;
    font-size: 18px;
    font-weight: 700;
  }

  &__type {
    grid-area: type;
    font-size: 10px;
    color: rgb(0 0 0 / 0.6);
  }

  &__section {
    height: 24px;
    margin: 0 -16px;
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 10px;
    color: rgb(0 0 0 / 0.6);
    text-transform: uppercase;

    &::before {
      content: "";
      width: 16px;
      border-bottom: 1px solid rgb(0 0 0 / 0.12);
    }
    &::after {
      content: "";
      flex: 1 0 0;
      border-bottom: 1px solid rgb(0 0 0 / 0.12);
    }
  }

  &__collection-input {
    font-weight: 700;
    font-size: 10px;
    color: rgb(0 0 0 / 0.6);
    height: 16px;
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
}
