.node-bindings-canvas {
  grid-area: canvas;
  display: grid;
  place-items: center;
  overflow: auto;

  &__container {
    position: relative;
    transform-origin: top left;
  }

  &__connection-lines {
    position: absolute;
  }
  &__connection-line {
    stroke: lightskyblue;
    stroke-width: 4px;
    stroke-linecap: round;
    fill: transparent;
  }
  &__child-line {
    stroke: #555;
    stroke-width: 4px;
    stroke-dasharray: 16px 8px;
    fill: transparent;
  }
}
