.output-row {
  position: relative;
  height: 40px;
  margin: 4px 0;
  display: grid;
  grid:
    "name" 1fr
    "type" 1fr
    / 1fr;
  gap: 4px;
  justify-items: end;

  &__connector {
    position: absolute;
    top: 12px;
    right: -24px;
    width: 12px;
    height: 16px;
    border: 1px solid rgb(0 0 0 / 12%);
    background-color: limegreen;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
  }

  &__name {
    grid-area: name;
    align-self: end;
    font-size: 14px;
  }

  &__type {
    grid-area: type;
    align-self: start;
    font-size: 10px;
    color: rgb(0 0 0 / 0.6);
  }
}
