@use "@kragle/design-system/styles/color";
@use "@kragle/design-system/styles/typography";

@use "create-scene-form";

.kragle-workspace-manager {
  height: 250px;

  &__empty-state {
    grid-area: body;
    place-self: center;
    padding: 16px;
    color: color.role("on-surface-deemphasized");
    @include typography.role("body-medium");
    text-align: center;
  }

  &__error-state {
    grid-area: body;
    place-self: center;
    padding: 16px;
    color: color.role("error");
    @include typography.role("body-medium");
    text-align: center;
  }

  &__permission-prompt-container {
    grid-area: body;
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-inline: 64px;
    text-align: center;
  }

  &__permission-prompt-button {
    --kragle-button-fill-color: #{color.role("brand")};
    --kragle-button-stroke-color: #{color.role("on-brand")};
  }

  &__scenes {
    grid-area: body;
    margin: 0;
    padding: 8px;
    overflow: auto;
  }

  &__scene {
    --kragle-workspace-manager-scene-fill-color: transparent;
    --kragle-workspace-manager-scene-stroke-color: #{color.role("on-surface")};
    --kragle-workspace-manager-scene-state-layer-opacity: 0%;
    &:not(&--disabled):is(:focus-visible, &:hover) {
      --kragle-workspace-manager-scene-state-layer-opacity: 8%;
    }
    &:not(&--disabled):active {
      --kragle-workspace-manager-scene-state-layer-opacity: 12%;
    }

    padding: 4px 8px;
    border-radius: 4px;
    list-style: none;
    background-color: color-mix(
      in srgb,
      var(--kragle-workspace-manager-scene-fill-color),
      var(--kragle-workspace-manager-scene-stroke-color)
        var(--kragle-workspace-manager-scene-state-layer-opacity)
    );
    color: var(--kragle-workspace-manager-scene-stroke-color);
    @include typography.role("body-medium");
    cursor: pointer;

    &--selected {
      --kragle-workspace-manager-scene-fill-color: #{color.role(
          "brand-container"
        )};
      --kragle-workspace-manager-scene-stroke-color: #{color.role(
          "on-brand-container"
        )};
    }

    &--disabled {
      opacity: 0.38;
      cursor: default;
    }
  }
}

.kragle-open-workspace-dialog {
  &__open-directory-button {
    --kragle-button-fill-color: #{color.role("brand")};
    --kragle-button-stroke-color: #{color.role("on-brand")};
  }
}
