@use "../color";

.initiative-dialog {
  border-radius: 8px;
  background-color: color.role("surface-container");
  color: color.role("on-surface");

  // Reset browser defaults
  border: none;
  padding: 0;

  &::backdrop {
    background-color: rgb(0 0 0 / 80%);
  }
}
