@use "@kragle/design-system/styles/color";
@use "@kragle/design-system/styles/typography";

.kragle-scene-manager {
  height: 250px;
  background-color: color.role("surface-container");
  border-radius: 8px;

  &__header {
    display: flex;
    align-items: center;
    padding: 4px;
  }

  &__title {
    flex: 1 0 0;
    @include typography.role("title-medium");
  }
}
