@use "@kragle/design-system/styles/color";
@use "@kragle/design-system/styles/typography";

.kragle-stage-view {
  display: grid;
  grid: "main" 1fr /1fr;
  padding: 8px;
  background-color: color.role("surface-container");
  border-radius: 8px;

  &__empty-state {
    grid-area: main;
    place-self: center;
    @include typography.role("body-medium");
    color: color.role("on-surface-deemphasized");
  }

  &__iframe {
    grid-area: main;
    place-self: stretch;
    border-radius: 4px;
    background-color: color.role("surface");

    // reset browser defaults
    border: 0;
  }
}
