@use "../design-system/color";
@use "../design-system/typography";

.initiative-editor {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "workspace-manager  stage-view     node-configurator" auto
    "node-tree          stage-view     node-configurator" minmax(0, 1fr)
    "actions            license-status license-status   " auto
    / 300px minmax(0, 1fr) 300px;
  gap: 8px;
  padding: 8px;

  background-color: color.role("background");

  &__workspace-manager {
    grid-area: workspace-manager;
  }
  &__node-tree {
    grid-area: node-tree;
  }
  &__stage-view {
    grid-area: stage-view;
  }
  &__node-configurator {
    grid-area: node-configurator;
  }
  &__actions {
    grid-area: actions;
    display: flex;
    align-items: center;
  }
  &__license-status {
    grid-area: license-status;
    justify-self: end;
  }

  &__empty-tool {
    display: grid;
    place-items: center;
    border-radius: 8px;
    background-color: color.role("surface-container");
    color: color.role("on-surface-deemphasized");
    @include typography.role("body-medium");

    &--node-tree {
      grid-area: node-tree;
    }
    &--stage-view {
      grid-area: stage-view;
    }
    &--node-configurator {
      grid-area: node-configurator;
    }
  }
}
