@use "../typography";
@use "../color";

.kragle-button {
  // Public
  --kragle-button-fill-color: #{color.role("surface")};
  --kragle-button-stroke-color: #{color.role("on-surface")};

  // Private
  --kragle-button-state-layer-opacity: 0%;
  &:is(:focus-visible, :hover) {
    --kragle-button-state-layer-opacity: 8%;
  }
  &:active {
    --kragle-button-state-layer-opacity: 12%;
  }

  min-width: 64px;
  height: 32px;
  display: grid;
  grid: "main" 1fr / 1fr;
  place-items: center;
  overflow: hidden;

  border-radius: 4px;
  background-color: color-mix(
    in srgb,
    var(--kragle-button-fill-color),
    var(--kragle-button-stroke-color) var(--kragle-button-state-layer-opacity)
  );
  color: var(--kragle-button-stroke-color);
  user-select: none;

  // Reset browser defaults
  padding: 0;
  border: none;
  outline: none;

  &__label {
    grid-area: main;
    padding-inline: 12px;
    @include typography.role("label-large");
    @include typography.no-wrap();
  }
}
