@use "../../../design-system/color";
@use "../../../design-system/typography";

.initiative-data-flow-inspector {
  &[open] {
    inset: 16px;
    width: auto;
    height: auto;
    margin: 0;

    display: grid;
    grid:
      "canvas" 1fr
      "control" auto
      / 1fr;
    gap: 8px;
    padding: 8px;
  }

  &__canvas {
    grid-area: canvas;
    min-height: -webkit-fill-available;
  }

  &__control {
    grid-area: control;
    display: flex;
    align-items: center;
    gap: 4px;
    @include typography.role("body-medium");
  }

  &__input {
    accent-color: color.role("brand");
  }
}
