@use "@kragle/design-system/styles/color";
@use "@kragle/design-system/styles/typography";

@use "license-key-dialog";

.kragle-license-status {
  color: color.role("on-surface-deemphasized");
  @include typography.role("label-small");
  text-decoration: underline;
  cursor: pointer;
}
