@use "sass:list";
@use "sass:math";
@use "sass:string";

@mixin role($role) {
  @if not list.index($typography-roles, $role) {
    @error "Invalid typography role '#{$role}'.";
  }
  font-family: var(--initiative-typography-#{$role}-font-family);
  font-size: var(--initiative-typography-#{$role}-font-size);
  line-height: var(--initiative-typography-#{$role}-line-height);
  letter-spacing: var(--initiative-typography-#{$role}-letter-spacing);
  font-weight: var(--initiative-typography-#{$role}-font-weight);
}

@mixin no-wrap() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@function _px-to-rem($px) {
  @return math.div($px, 16) * 1rem;
}

@mixin _define-role($name, $line-height, $size, $tracking, $weight) {
  @if string.index($name, "code") {
    --initiative-typography-#{$name}-font-family: "Roboto Mono", monospace;
  } @else {
    --initiative-typography-#{$name}-font-family: "Roboto Condensed", sans-serif;
  }
  --initiative-typography-#{$name}-font-size: #{_px-to-rem($size)};
  --initiative-typography-#{$name}-line-height: #{_px-to-rem($line-height)};
  --initiative-typography-#{$name}-letter-spacing: #{math.div($tracking, $size) *
    1rem};
  --initiative-typography-#{$name}-font-weight: #{$weight};
}

$typography-roles: (
  // "display-large",
  // "display-medium",
  // "display-small",
  "headline-large",
  "headline-medium",
  "headline-small",
  "title-large",
  "title-medium",
  "title-small",
  "label-large",
  "label-medium",
  "label-small",
  "body-large",
  "body-medium",
  "body-small",
  "code-large",
  "code-medium",
  "code-small"
);

:root {
  @include _define-role("headline-large", 40, 32, 0, 400);
  @include _define-role("headline-medium", 36, 28, 0, 400);
  @include _define-role("headline-small", 32, 24, 0, 400);
  @include _define-role("title-large", 28, 22, 0, 400);
  @include _define-role("title-medium", 24, 16, 0.15, 500);
  @include _define-role("title-small", 20, 14, 0.1, 500);
  @include _define-role("label-large", 20, 14, 0.1, 500);
  @include _define-role("label-medium", 16, 12, 0.5, 500);
  @include _define-role("label-small", 16, 11, 0.5, 500);
  @include _define-role("body-large", 24, 16, 0.5, 400);
  @include _define-role("body-medium", 20, 14, 0.25, 400);
  @include _define-role("body-small", 16, 12, 0.4, 400);
  @include _define-role("code-large", 24, 16, 0.5, 400);
  @include _define-role("code-medium", 20, 14, 0.25, 400);
  @include _define-role("code-small", 16, 12, 0.4, 400);
}
