@use "@kragle/design-system/styles/color";

.kragle-editor {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "workspace-manager  stage-view     node-properties" auto
    "node-tree          stage-view     node-properties" minmax(0, 1fr)
    "license-status     license-status license-status " auto
    / 300px minmax(0, 1fr) 300px;
  gap: 8px;
  padding: 8px;

  background-color: color.role("background");

  &__workspace-manager {
    grid-area: workspace-manager;
  }
  &__node-tree {
    grid-area: node-tree;
  }
  &__stage-view {
    grid-area: stage-view;
  }
  &__node-properties {
    grid-area: node-properties;
  }
  &__license-status {
    grid-area: license-status;
    justify-self: end;
  }
}
