@use "../../design-system/color";
@use "../../design-system/typography";

.kragle-tool-frame {
  background-color: color.role("surface-container");
  color: color.role("on-surface");
  border-radius: 8px;

  display: grid;
  grid:
    "header" auto
    "body" minmax(0, 1fr)
    / 1fr;

  &__header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 8px;
  }

  &__title {
    flex: 1 0 0;
    @include typography.role("title-medium");
  }
}
